@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(14, 109, 133);
  height: 100vh;
  font-weight: 800;
  background-image: url(../image/food-cupcake.jpeg);
  background-repeat: no-repeat;
  background-position: 23%;
  background-size: cover;
  margin: 0;
}
.container {
  margin-left: 120px;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 600px;
  width: 100%;
  max-width: 800px;
  padding: 20px;
}
.text {
  font-size: 2rem;
  color: rgb(167, 43, 119);
}
button {
  font-weight: 700;
  padding: 10px;
  width: 140px;
  border: none;
  color: rgb(14, 109, 133);
  background-color: rgb(230, 253, 22);
  border-radius: 4px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 0px 4px 2px rgb(37, 120, 145);
}
button:hover {
  background-color: transparent;
}
p {
  text-transform: uppercase;
  font-size: 22px;
  margin: 0;
}
.clock {
  margin-top: 60px;
  justify-content: space-between;
  display: flex;
  text-align: center;
  width: 100%;
}

input {
  font-weight: 700;
  height: 60px;
  width: 100%;
  border: none;
  box-shadow: 0px 2px 8px 2px rgb(16, 52, 83);
  border-radius: 8px;
  background-color: transparent;
  color: rgb(14, 109, 133);
  font-size: 2rem;
  padding: 10px;
}
.input-box {
  align-items: center;
  margin: 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box-time {
  font-weight: 800;
  font-size: 6rem;
}
@media (max-width: 960px) {
  body {
    justify-content: center;
    background-position: center;
  }
  .container {
    width: 600px;
    margin: 0;
  }
  .text {
    font-size: 20px;
  }
  .box-time {
    font-size: 4rem;
  }
  .input-box {
    width: 200px;
  }
  input {
    font-size: 1rem;
    height: 40px;
  }
  p {
    font-size: 12px;
  }
  button {
    width: 100px;
    font-size: 12px;
  }
}
@media (max-width: 650px) {
  body {
    background-position: 60%;
  }
  .text {
    font-size: 16px;
  }
  button {
    font-size: 10px;
    padding: 5px;
  }
  .box-time {
    font-size: 3rem;
  }
}
